@font-face {
  font-family: "PPNeueMachina-Regular";
  src: url("../styles/PPNeueMachina-Regular.otf") format("opentype"),
    url("../styles/PPNeueMachina-Regular.woff") format("woff");
}
  
@font-face {
  font-family: "PPNeueMachina-Ultrabold";
  src: url("../styles/PPNeueMachina-Ultrabold.otf") format("opentype"),
    url("../styles/PPNeueMachina-Ultrabold.woff") format("woff");
}
  
@font-face {
  font-family: "ObjectSans-Regular";
  src: url("../styles/PPObjectSans-Regular.otf") format("opentype"),
    url("../styles/PPObjectSans-Regular.woff") format("woff");
}
  
@font-face {
  font-family: "ObjectSans-Bold";
  src: url("../styles/PPObjectSans-Bold.otf") format("opentype"),
    url("../styles/PPObjectSans-Bold.woff") format("woff");
}