@font-face {
  font-family: "neue-machina-regular";
  src: url("../styles/PPNeueMachina-Regular.otf") format("opentype");
}
  
@font-face {
  font-family: "neue-machina-ultrabold";
  src: url("../styles/PPNeueMachina-UltraBold.otf") format("opentype");
}
  
@font-face {
  font-family: "object-sans-regular";
  src: url("../styles/ObjectSans-Regular.otf") format("opentype");
}
  
@font-face {
  font-family: "object-sans-bold";
  src: url("../styles/ObjectSans-Bold.otf") format("opentype");
}