@font-face {
  font-family: "neue-machina-regular";
  src: url("../styles/PPNeueMachina-Regular.ttf") format("truetype");
}
  
@font-face {
  font-family: "neue-machina-ultrabold";
  src: url("../styles/PPNeueMachina-UltraBold.ttf") format("truetype");
}
  
@font-face {
  font-family: "object-sans-regular";
  src: url("../styles/ObjectSans-Regular.ttf") format("truetype");
}
  
@font-face {
  font-family: "object-sans-bold";
  src: url("../styles/ObjectSans-Bold.ttf") format("truetype");
}