@font-face {
  font-family: "ObjectSans-Regular";
  src: url("../styles/PPObjectSans-Regular.otf"),
    url("../styles/PPObjectSans-Regular.woff");
}
  
@font-face {
  font-family: "ObjectSans-Bold";
  src: url("../styles/PPObjectSans-Bold.otf"),
    url("../styles/PPObjectSans-Bold.woff");
}

@font-face {
  font-family: "ObjectSans-Heavy";
  src: url("../styles/PPObjectSans-Heavy.otf"),
    url("../styles/PPObjectSans-Heavy.woff");
}


@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("../styles/ClashDisplay-Regular.otf"),
    url("../styles/ClashDisplay-Regular.woff");
}

@font-face {
  font-family: "BentogaItalic-Thin";
  src: url("../styles/BentogaItalic-Thin.otf");
}